@model IEnumerable<MvcMessageLogger.Models.User>
@{
    var sortedDict = ViewData["UsersOrderedByMessageCount"] as IEnumerable<KeyValuePair<string, int>>;
}
<h1>Statistics</h1>


@foreach (var kvpair in sortedDict)
{
    <p>User: @kvpair.Key, Message Count: @kvpair.Value</p>
}