@model IEnumerable<MvcMessageLogger.Models.User>

<h1>All Users</h1>

@foreach(var user in Model)
{
    <form method="get" action="/Users/@user.Id/Details">
        <button>Login</button>
    </form>
    <p>Name:@user.Name, Username:@user.Username</p>
}


<a href='/Users/new'>Add a new User</a>