<h1>Create a New User</h1>
<form method="post" action="/Users">
    <label for="Name">Name:</label>
    <input id="Name" type="text" name="Name" required />
    <label for="Username">Username:</label>
    <input id="Username" type="text" name="Username" required />

    <button type="submit" class="btn btn-success">Create User</button>
</form>