<h1>Create a New User</h1>
<form method="post" action="/Users">
    <label for="Name">Name:</label>
    <input id="Name" type="text" name="Name"/>
    <label for="Username">Username:</label>
    <input id="Username" type="text" name="Username" />

    <button type="submit">Create User</button>
</form>